<%- include('../partials/header') %>

<h2 class="work-list">Workout List</h2>

<table>

  <thead>
    <tr>
      <th>Workout</th>
      <th>Notes</th>
      <th>Date</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% workouts.forEach(f=>{ %>
      <% if ( JSON.stringify(f.user) === JSON.stringify(user._id) ) { %>
        <tr>
          <td><%= f.workType %></td>
          <td><%= f.workNote %></td>
          <td><%= f.workDate.toLocaleDateString() %></td>
          <td><a href="/workouts/<%= f._id %>" class="table-btn">SELECT</a></td>
          <td><form action="/workouts/<%=f._id%>?_method=DELETE" class="delete-form" method="POST">
            <button class="del-button" type="submit">
              <i class="fas fa-trash-alt"></i>
            </button> 
          </form> 
        </tr>
      <% } else {} %>

    <% })%>
    </tbody>
</table>

<%- include('../partials/footer') %>