<%- include('../partials/header') %>

<h2 class="work-set">Workout Sets</h2>

<section id="show-page">
  <div>Workout: <%= workout.workType %></div>
  <div>Date: <%= workout.workDate.toLocaleDateString() %></div>
  <div>Notes: <%= workout.workNote %></div>
</section>
<br>
<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Weight</th>
      <th>Reps</th>
      <th>Notes</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% for (let stat of stats) { %>
    <tr>
      <td><%= stat.type %></td>
      <td><%= stat.weight %> </td>
      <td><%= stat.reps %></td>
      <td><%= stat.notes %></td>
      <td><a href="/workouts/<%= stat._id %>/edit" class="table-btn">Update Set</a>
    </tr>
    <% } %>
  </tbody>
  </table>
  <% if (workout.workType === "Chest") { %>
  <a href="/workouts/<%= workout._id %>/stats/new_chest">
    <button type="submit" class="create-workout-btn">Create New Workout</button></a>

  <% } else if (workout.workType === "Core") { %>
  <a href="/workouts/<%= workout._id %>/stats/new_core">
    <button type="submit" class="create-workout-btn">Create New Workout</button></a>

  <% } else if (workout.workType === "Legs") { %>
  <a href="/workouts/<%= workout._id %>/stats/new_legs">
    <button type="submit" class="create-workout-btn">Create New Workout</button></a>

  <% } else if (workout.workType === "Shoulders") { %>
  <a href="/workouts/<%= workout._id %>/stats/new_shoulders">
    <button type="submit" class="create-workout-btn">Create New Workout</button></a>

  <% } else if (workout.workType === "Arms") { %>
  <a href="/workouts/<%= workout._id %>/stats/new_arms">
    <button type="submit" class="create-workout-btn">Create New Workout</button></a>

  <% } else if (workout.workType === "Back") { %>
  <a href="/workouts/<%= workout._id %>/stats/new_back">
    <button type="submit" class="create-workout-btn">Create New Workout</button></a>

  <% } else if (workout.workType === "Body Weight") { %>
  <a href="/workouts/<%= workout._id %>/stats/new_body">
    <button type="submit" class="create-workout-btn">Create New Workout</button></a>

  <% } %>


<%- include('../partials/footer') %>

