<%- include('../partials/header') %>

<section id="show-page">
  <div>Workout: <%= workout.workType %></div>
  <div>Notes: <%= workout.workNote %></div>
  <div>Date: <%= workout.workDate.toLocaleDateString() %></div>
</section>
<br>
<h2>Workout Set</h2>
<br>
<br>
<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Weight</th>
      <th>Reps</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
    <% for (let stat of stats) { %>
    <tr>
      <td><%= stat.type %></td>
      <td><%= stat.weight %> </td>
      <td><%= stat.reps %></td>
      <td><%= stat.notes %></td>
      <td><a href="/workouts/<%= stat._id %>/edit">Edit Workout</a>
    </tr>
    <% } %>
  </tbody>

  <% if (workout.workType === "Chest") { %>
  <a href="/workouts/<%= workout._id %>/stats/new_chest">
    <button type="submit">Create New Workout</button></a>

  <% } else if (workout.workType === "Core") { %>
  <a href="/workouts/<%= workout._id %>/stats/new_core">
    <button type="submit">Create New Workout</button></a>

  <% } else if (workout.workType === "Legs") { %>
  <a href="/workouts/<%= workout._id %>/stats/new_legs">
    <button type="submit">Create New Workout</button></a>

  <% } else if (workout.workType === "Shoulders") { %>
  <a href="/workouts/<%= workout._id %>/stats/new_shoulders">
    <button type="submit">Create New Workout</button></a>

  <% } else if (workout.workType === "Arms") { %>
  <a href="/workouts/<%= workout._id %>/stats/new_arms">
    <button type="submit">Create New Workout</button></a>

  <% } else if (workout.workType === "Back") { %>
  <a href="/workouts/<%= workout._id %>/stats/new_back">
    <button type="submit">Create New Workout</button></a>

  <% } else if (workout.workType === "Body Weight") { %>
  <a href="/workouts/<%= workout._id %>/stats/new_body">
    <button type="submit">Create New Workout</button></a>

  <% } %>




</table>

<%- include('../partials/footer') %>

