<%- include('../partials/header') %>

<section id="show-page">
  <div>Cardio Activity: <%= cardio.activity %></div>
  <div>Duration: <%= cardio.duration %> minutes</div>
  <% if (cardio.distance) { %>
    <div>Distance: <%= cardio.distance %> miles</div>
  <% } %>

</section>

<a href="/cardio">Back to All Cardio Workouts</a>

<%- include('../partials/footer') %>